{% if uri == '/autocomplete/search' %}
    <div style="padding: 5px;">
        <button type="button" class="btn btn-primary" id="example1">Product: fligth - query: 'España'</button>
        <button type="button" class="btn btn-primary" id="example2">Product: fligth - query: 'ezeiza'</button>
    </div>
    <div style="padding: 5px;">
        <button type="button" class="btn btn-success" id="example3">Flow code: 'flight_hotel' - query: 'miami'  </button>
        <button type="button" class="btn btn-success" id="example4">Flow code: 'flight_hotel' - query: 'buenos'  </button>
    </div>
    <div style="padding: 5px;">
        <button type="button" class="btn btn-info" id="example5">Flow code: 'hotel' - query: 'buenos'  </button>
        <button type="button" class="btn btn-info" id="example6">Flow code: 'hotel' - query: 'buen'  </button>
    </div>
    <div style="padding: 5px;">
        <button type="button" class="btn btn-warning" id="example5">Flow code: 'car' - query: 'buen'  </button>
        <button type="button" class="btn btn-warning" id="example6">Flow code: 'car' - query: 'buenos'  </button>
    </div>

    <script type="application/javascript">
        $(document).ready(function(){
            $("#example1").click(function(){
                $(".flow_code").val("flight");
                $(".product").val("flight");
                $(".locale").val("es_AR");
                $(".query").val("España");
            });
            $("#example2").click(function(){
                $(".flow_code").val("flight");
                $(".product").val("flight");
                $(".locale").val("es_AR");
                $(".query").val("ezeiza");
            });
            $("#example3").click(function(){
                $(".flow_code").val("flight_hotel");
                $(".product").val("packages");
                $(".locale").val("es_AR");
                $(".query").val("aMi");
            });
            $("#example4").click(function(){
                $(".flow_code").val("flight_hotel");
                $(".product").val("packages");
                $(".locale").val("es_AR");
                $(".query").val("buenos");
            });
            $("#example5").click(function(){
                $(".flow_code").val("hotel");
                $(".product").val("hotel");
                $(".locale").val("es_AR");
                $(".query").val("buen");
            });
            $("#example6").click(function(){
                $(".flow_code").val("hotel");
                $(".product").val("hotel");
                $(".locale").val("es_AR");
                $(".query").val("sher");
            });
        });
    </script>

{% endif %}

