{% if uri == '/autocomplete/search' %}

    <pre><span class="json-collapse-section" data-section-open-character="{"><span class="json-collapse-marker"><span class="pun">▿</span></span><span class="pun">{</span></span><span class="json-collapse-content"><span class="pln">
    </span><span class="str">"flow_code"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"flight"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"product"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"flight"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"locale"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"es_AR"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"query"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"españa"</span><span class="pun">,</span><span class="pln">
<span class="pln"></span><span class="pun">}</span></span></span></pre>


{% endif %}

{% if uri == '/masterpass/lightbox/' %}

<pre><span class="json-collapse-section" data-section-open-character="{"><span class="json-collapse-marker"><span class="pun">▿</span></span><span class="pun">{</span></span><span class="json-collapse-content"><span class="pln">
    "requestToken": "8bc66968c33b677a60b15da7245668e1eccc6652",
    "authorizeUrl": "https://sandbox.masterpass.com/Checkout/Authorize",
    "callbackConfirmed": "true",
    "oAuthExpiresIn": "900",
    "oAuthSecret": "73bf19644c220d5ab1e69189340eec8b496fafd7",
    "redirectUrl": null,
    "callbackUrl": "http://localhost/vuelos/5/0/0/",
    "merchantCheckoutId": "6flaksdjlkasdjfla8383j3hjh374hh"
<span class="pln"></span><span class="pun">}</span></span></span></pre>

{% endif %}