{% if uri == '/autocomplete/search' %}

<pre><span class="json-collapse-section" data-section-open-character="{"><span class="json-collapse-marker"><span class="pun">▿</span></span><span class="pun">{</span></span><span class="json-collapse-content"><span class="pln">
    </span><span class="str">"flow_code"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"flight"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"product"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"flight"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"locale"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"es_AR"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"query"</span><span class="pun">:</span><span class="pln"> </span><span class="lit">"españa"</span><span class="pun">,</span><span class="pln">
<span class="pln"></span><span class="pun">}</span></span></span></pre>


{% endif %}

{% if uri == '/masterpass/lightbox/' %}

<pre><span class="json-collapse-section" data-section-open-character="["><span class="json-collapse-marker"><span class="pun">▿</span></span><span class="pun">[</span></span><span class="json-collapse-content"><span class="pln">{
    "callbackUrl":"http://localhost/vuelos/5/0/0/",
    "shoppingcart": {
        "currency":"USD",
        "shoppingcartItem":[
            {
                "quantity": 1,
                "imageUrl":"http://localhost/vuelos/img.png",
                "description":"Vuelo MIA-BUE",
                "amount": 1052
            }
        ]
    }
}<span class="pln"></span><span class="pun">]</span></span></span></pre>

{% endif %}

{% if uri == '/masterpass/getDataPayment/' %}

<pre><span class="json-collapse-section" data-section-open-character="["><span class="json-collapse-marker"><span class="pun">▿</span></span><span class="pun">[</span></span><span class="json-collapse-content"><span class="pln">{
    "mpstatus" : "success",
    "checkoutResourceUrl" : "",
    "oauthVerifier" : "",
    "oauthToken" : ""
}<span class="pln"></span><span class="pun">]</span></span></span></pre>

{% endif %}

{% if uri == '/masterpass/logTransaction/' %}

<pre><span class="json-collapse-section" data-section-open-character="["><span class="json-collapse-marker"><span class="pun">▿</span></span><span class="pun">[</span></span><span class="json-collapse-content"><span class="pln">{
    "transactionId" : 449087232,
    "currency" : "USD",
    "amount" : 100,
    "transactionStatus" : "Success",
    "approvalCode" : "sample"
}<span class="pln"></span><span class="pun">]</span></span></span></pre>


{% endif %}
