{% extends 'base.html.twig' %}

{% block title %}MasterPass{% endblock %}

{% block body %}

    Hola Master Pass

    {% include 'CoreMasterPassBundle:Default:master_pass_button.html.twig' %}

{% endblock %}